<footer class="outter footer mt-auto bg-secondary">
  <div class="text-lg-start container">
    <section class="d-flex justify-content-between py-1">
      <div
        class="stayconneted d-flex justify-content-center align-items-center "
      >
        <h1>Stay connected</h1>
      </div>
      <div class="icons d-flex justify-content-center align-items-center">
        <a href="" class="bg-danger">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="" class="bg-success">
          <i class="fa fa-whatsapp"></i>
        </a>
        <a href="" class="bg-primary">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </section>
  </div>
  <div class="Blue">
    <div class="d-flex container py-5">
        <app-aboutus></app-aboutus>
        <div class="contactus">
          <h2 class="text-center">Contact us</h2>
          <pre class="outter">
        Cabin full of thoughts 
        Narasaraopet Engineering Collage 
        Narasaraopet,
        Andrapradesh,
        india
          </pre>
        </div>
      </div>
  </div>
</footer>
