<app-nav-bar></app-nav-bar>
<div class="Coverpage bg-image"></div>
<h1 class="text-center my-2">What We Do</h1>
<p class="text-center container">
  The main reason for considering this project was slums, slums have been a
  major problem in our country. So In this project, we have mainly concentrated
  on the problems. In this project we mainly focused on two problems
</p>
<div class="grid container my-5">
  <div class="Redevelopment bg-primary bg-image d-flex justify-content-center align-items-center rounded">
    <h2 class="text-center">
      Redevelopment of slums
    </h2>
  </div>
  <div class="Monitering bg-image  bg-primary d-flex justify-content-center align-items-center rounded">
    <h3 class="text-center">
      Monitoring and avoiding the growth of slums in future
    </h3>
  </div>
  <div class="card">
    <ol>
      <li>
        <p>
          We will redevelop the slums by using technology. And the process we
          follow is user-friendly. Our project mainly works on user opinion
          only. We will create a user form for the users who are living in the
          slums.
        </p>
      </li>
      <li>
        <p>
          The people will express their problems to us through our Website. On
          our Website, we have created multiple options for users. If any one of
          the users has not satisfied with the options given by us then the user
          him/herself can type his problem in the description box provided by
          us.
        </p>
      </li>
      <li>
        <p>
          For visual proof we have given one box for uploading the photos of
          slums and there is a size limit of photos uploaded by them
        </p>
      </li>
    </ol>
  </div>
  <div class="card">
    <ol>
      <li>
        <p>
          For monitoring and avoiding the growth of slums, also we use
          technology.
        </p>
      </li>
      <li>
        <p>
          We will give access to our agents only. In that form, we have included
          many problems faced by the slum people.
        </p>
      </li>
      <li>
        <p>
          On this page we have set the boundaries for each and every problem
          faced by them. The agent has to enter the values within the
          boundaries.
        </p>
      </li>
      <li>
        <p>
          After filling in all the details then we will analyze all of them and
          produce the resolt whether it is a slum or not.
        </p>
      </li>
    </ol>
  </div>
</div>

<app-footer></app-footer>
