.forms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

}

.form {
  border-radius: 10px;
  box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.14);
  width:450px;
}
@media screen and (max-width: 500px){
  .form {
    width:300px;
  }
}