<app-nav-bar [loginHide]="false"></app-nav-bar>
<div class="forms mt-2">
  <div class="alert alert-danger text-center" role="alert" *ngIf="alertFail" else elseBlock>
    <p class="warning" *ngIf="alertPasswordMsgFail">🙂Give a valid Password🙂</p>
    <p class="warning" *ngIf="alertEmailMsgFail">😉Give a valid Email😉</p>
    <p class="warning" *ngIf="verifyPassword">😉Incorrect Password😉</p>
  </div>
  <div class="alert alert-success text-center" role="alert" #elseBlock *ngIf="alertSuccess">
    <p class="warning ">😊 You'r Login reqest have processed 😊</p>
  </div>

  <div class="mx-2 p-5 form">
    <h2 class="text-center">Login</h2>

    <div class="form-group">
      <label for="Email">Email address</label>

      <input type="email" required [(ngModel)]="Email" class="form-control" id="Email" aria-describedby="emailHelp"
        placeholder="Enter email" />
    </div>

    <div class="form-group">
      <label for="Password">Password</label>

      <input type="{{showPwd?'text':'password'}}" class="form-control" id="Password" aria-describedby="emailHelp"
        placeholder="Enter Password" [(ngModel)]="Password" />
    </div>

    <div class="form-check m-2">
      <input class="form-check-input" type="checkbox" [(ngModel)]="showPwd" id="Hideshow" />

      <label class="form-check-label" for="Hideshow"> Show password </label>
    </div>

    <div>
      <button role="button" type="button"
        class="btn btn-warning d-flex justify-content-center align-items-center mx-auto" id="login" (click)="Verify()">
        Login
      </button>
    </div>

    <div class="form-group">
      <p class="text-center">Don't have an account? <a [routerLink]="['/Signup']">Create one</a></p>
    </div>
  </div>
</div>