<app-nav-bar [logoutVisible]="false"></app-nav-bar>
<div class="grid container border border-primary">
  <div class="grid py-3">
    <!-- Sanitation -->
    <div class="input-group input-group-sm justify-content-center">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" value="Sanitation" id="Sanitation" [(ngModel)]="Sanitation" />
        </div>
        <label class="input-group-text bg-primary text-white" for="Sanitation"> Sanitation </label>
      </div>
    </div>

    <!-- WaterSupply -->
    <div class="input-group input-group-sm justify-content-center ">
      <div class="input-group-prepend">
        <label class="input-group-text bg-primary text-white" for="WaterSupply"> Water Supply </label>
        <div class="input-group-text">
          <input class="" type="checkbox" value="Water Supply" id="WaterSupply" [(ngModel)]="WaterSupply" />
        </div>
      </div>
    </div>
    <!-- Street lights -->
    <div class="input-group input-group-sm justify-content-center">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input class="" type="checkbox" value="StreetLights" id="StreetLights" [(ngModel)]="StreetLights" />
        </div>
        <label class="input-group-text bg-primary text-white" for="StreetLights"> Street Lights </label>

      </div>
    </div>
    <!-- ProperHousing -->
    <div class="input-group input-group-sm justify-content-center">
      <div class="input-group-prepend">
        <label class="input-group-text bg-primary text-white" for="ProperHousing">
          Proper Housing
        </label>
        <div class="input-group-text">
          <input class="" type="checkbox" id="ProperHousing" value="ProperHousing" [(ngModel)]="ProperHousing" />
        </div>
      </div>
    </div>
  </div>


  <!-- Enter your Issues that are not mentioned above -->
  <div class="input-group input-group-sm py-3">
    <div class="input-group-prepend">
      <span class="input-group-text text-white bg-primary">
        Enter your Issues <br> that are not mentioned above
      </span>
    </div>
    <textarea class="form-control" id="Issues" rows="3" cols="5" [(ngModel)]="extraIssues"></textarea>
  </div>
  <!-- End-->

  <div class="Responce d-block">
    <p class="text-center">Responce of Higher officials</p>
    <div class="d-flex py-3">
      <!-- Yes -->
      <div class="input-group input-group-sm justify-content-center">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="radio" name="YesorNo" id="Yes" [value]="true" [(ngModel)]="response.done" />
          </div>
          <label class="input-group-text bg-success text-white" for="Yes"> Yes </label>
        </div>
      </div>
      <!-- End -->
      <!-- No -->
      <div class="input-group input-group-sm justify-content-center">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="radio" name="YesorNo" id="No" [value]="false" [(ngModel)]="response.done" />
          </div>
          <label class="input-group-text bg-danger text-white" for="No"> No </label>
        </div>
      </div>
      <!-- End -->
    </div>
    <!-- Yes responce -->
    <div class="input-group input-group-sm my-2" *ngIf="Yes">
      <div class="input-group-prepend">
        <span class="input-group-text  bg-warning text-white">Action taken by <br> officials</span>
      </div>
      <textarea class="form-control" id="Action" rows="3" [(ngModel)]="response.message"></textarea>
    </div>
    <!-- End -->
    <div class="input-group input-group-sm my-2" *ngIf="No">
      <div class="input-group-prepend">
        <span class="input-group-text  bg-danger text-white">Reasons of work decline</span>
      </div>
      <textarea class="form-control" id="Reason" rows="3" [(ngModel)]="response.message"></textarea>
    </div>
  </div>

  <div class="input-group">
    <span class="input-group-text">Area Name</span>
    <input type="text" class="form-control" id="Areaname" placeholder="Enter Area Name" [(ngModel)]="areaName" />
  </div>
  <div class="form">
    <label for="Address" class="form-label">Address</label>
    <textarea class="form-control" id="Address" rows="3" [(ngModel)]="Address"></textarea>
  </div>
  <div class="Submit d-flex flex justify-content-center align-items-center">
    <input type="submit" value="Submit" id="Submit" class="btn btn-primary" role="button" (click)="Verify()" />
  </div>
</div>            