<app-nav-bar></app-nav-bar>
<div class="Middle">
  <div class="content">
  </div>
</div>
<div class="PageContent container">
  <div id="Home">
    <h2 class="text-center">What exactly a <b>slum</b> is?</h2>
    <img src="https://www.unicef.org/southafrica/sites/unicef.org.southafrica/files/styles/hero_mobile/public/ZAF-UNI316643.jpg?itok=lOD_PjPf" alt="">
    <p>
      A slum is a highly populated urban residential area consisting of densely
      packed housing units of weak build quality and often associated with
      poverty. The infrastructure in slums is often deteriorated or incomplete,
      and they are primarily inhabited by impoverished people. Although slums
      are usually located in urban areas, in some countries they can be located
      in suburban areas where housing quality is low and living conditions are
      poor. While slums differ in size and other characteristics, most lack
      reliable sanitation services, supply of clean water, reliable electricity,
      law enforcement, and other basic services. Slum residences vary from
      shanty houses to professionally built dwellings which, because of
      poor-quality construction or lack of basic maintenance, have deteriorated.
    </p>
  </div><br>
  <div id="problems">
    <h2 class="text-center">What are the problems with slums?</h2>
    <p>
      Slum dwellers in India regularly deals with problems such as lack of clean
      water, constant migration at slums, no sewage or waste disposal
      facilities, pollution, and unsanitary living conditions. High levels of
      pollution, lack of basic needs, and room-crowding are some of the basic
      characteristics of slum housing. India is a third largest country that
      suffers from poverty, malnutrition, diseases, unhealthy conditions, and
      more in Indian slums, which is alone responsible for more deaths of
      children than any other country in the world. Because of the dramatic rise
      of slums after independence, India's population has tripled. Most of the
      population is currently are slum dwellers in India. During the last two
      decades; migration from villages and small towns to metropolitan areas has
      increased tremendously in India. It leads to the degradation of urban
      environmental quality and sustainable development, especially in
      metropolitan cities. Every year, hundreds of thousands of men, women, and
      children die worldwide, and India alone is responsible for 25% of the
      deaths.
    </p>
  </div>
</div>
<app-footer></app-footer>

